.fullscreen {
    position: absolute;
    top: 0;
    left: 0;
    overflow-x: hidden;
    height: 100%;
    width: 100%;
}

.imagecontainer {
    height: 45%;
    width: inherit;
    background-color: lightgray;
    padding: 0%;
}

.restaurantimage {
    height: 65%;
    width: 25%;
    top: 30%;
    bottom: 5%;
    position: relative;
    float: left;
}

.restaurantdetails {
    height: 65%;
    width: 75%;
    top: 30%;
    position: relative;
    float: right;
    flex-wrap: nowrap;
}

.image {
    width: 250px;
    height: 195px;
    padding: 0 5% 0 10%;
}

.ratingandpricing {
    width: 100%;
}

.rating {
    width: 50%;
    line-height:0%;
    float: left;
}

.pricing {
    left: 50%;
    width: 50%;
    float: right;
    line-height:0%;
}

.helptext {
    font-size: x-small;
}

.sellingmenu {
    height: 55%;
    top: 10%;
    width: 100%;
    background-color: white;
    display: table;
}

.menu {
    width: 50%;
    padding: 2% 10% 2% 5%;
    display: table-cell;
}

.itemlist {
    width: inhertit;
    height: inherit;
}

.itemdetails {
    float: left;
    width: 70%;
}

.pricedetails {
    float: right;
    width: 25%;
    padding-right: 5%;
    text-align: right;
}

.cart {
    width: 50%;
    height: auto;
    display: table-cell;
    padding: 2% 10% 2% 5%;
}

.cartdetails {
    width: 90%;
    border-style: solid;
    border-width: 1px;
    border-radius: 3px;
    border-color: lightgray;
}

.menuitem {
    padding: 0 0 0 2%;
    justify-content: flex-start;
}

.rupeesign {
    padding: 0 0 0 0%;
}

.menuprice {
    justify-content: flex-end;
}

.checkout {
    width: 95%;
    left: 1%;
}

.buttoncontainer {
    width: 100%;
}

.cardcontent {
    width: 90%;
    padding: 5%;
}

.carditem {
    width: 100%;
}

.carditemname {
    display: inline-block;
    width: 50%;
}

.cardincr {
    display: inline;
    width: 30%;
}

.loader {
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    width: 120px;
    height: 120px;
    margin:auto;
    left:0;
    right:0;
    top:0;
    bottom:0;
    position:fixed;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
  }
  
  /* Safari */
  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

  @media (max-width: 500px) {
  .imagecontainer {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
  }
  .restaurantimage {
      text-align: center;
      width: 80%;
  }
  .restaurantdetails {
      text-align: center;
 }
  .sellingmenu {
      display: flex;
      flex-direction: column;
      position: relative;
      align-items: flex-end;
  }
  .ratingandpricing {
      display: flex;
      position: relative;
      flex-direction: column;
      align-items: center;
  }
  .menu {
      width: 80%;
  }
  .cart {
      width: 80%;
  }
}